<h3 id="about">About Us</h3>

<p>
	Our practice is committed to providing you and your family with safe, gentle, high-quality dental care. We understand that you, or your child, may feel anxious about visiting the dentist. We are sensitive to your needs, and it is our goal to make you feel comfortable visiting our practice while providing the best care possible.</p>

<p>
	Our mission is to deliver the highest quality care, unprecedented comfort, and service. We’re committed to delivering the very best results for you, whether it’s:
</p>

<ul>
	<li>Creating the perfect smile</li>
	<li>Reconstructing your entire mouth</li>
	<li>Helping you achieve total wellness</li>
	<li>Bottom of Form</li>	
</ul>

<p>
	We are proud to provide state-of-the-art facilites for the highest quality dental care available. It is one of our top priorities to protect the well-being of our valued patients.
</p>
 
<blockquote class="blockquote">Your first visit is all about your comfort, your happiness, and your health.</blockquote>

<p>
	During your first visit, we will review your dental and medical history, take the necessary digital x-rays, models and photographs and complete a comprehensive examination of your teeth and surrounding tissues. Then WE will discuss our findings, help you create your own individual treatment plan, and answer any questions that you may have. Following this appointment, either on the same day or different day, we will set up an appointment with our JUNIOR DENTAL SURGEON for a general prophylaxis or treatment recommended.
</p>

<blockquote class="blockquote">Regular checkups are an important part of maintaining a healthy smile!</blockquote>

<p>
	The Indian Dental Association recommends visiting your dentist every six months for regular checkups and routine teeth cleanings to keep your teeth and gums healthy. We understand that you have a busy schedule, so when you're preparing to visit the dentist, please remember that your appointments can last between 45 and 90 minutes. We are confident that you will feel right at home in our offices as we welcome all patients as if they were family.
</p>
