<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">{{ site.title }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#about">About Us</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#services" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown">
                    Services
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Root Canal Treatment</a>
                  <a class="dropdown-item" href="#">Extractions</a>
                  <a class="dropdown-item" href="#">Scaling and Polishing</a>
                  <a class="dropdown-item" href="#">Bleaching and Teeth Whitening</a>
                  <a class="dropdown-item" href="#">Complete and Partial Dentures</a>
                  <a class="dropdown-item" href="#">Crown and Bridge Treatment</a>
                  <a class="dropdown-item" href="#">Dental Implants</a>
                  <a class="dropdown-item" href="#">Orthodontic Treatment</a>
                  <a class="dropdown-item" href="#">Maxillofacial Prosthesis</a>
                  <a class="dropdown-item" href="#">Gingival Surgeries</a>
                  <a class="dropdown-item" href="#">Periodontal Surgeries</a>
                  <a class="dropdown-item" href="#">Laser Surgeries</a>
                  <a class="dropdown-item" href="#">Dental Jewelery</a>
                </div>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="#team">Team</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact Us</a>
            </li>
        </ul>
    </div>
</nav>

<div class="jumbotron jumbotron-fluid">
  <div class="container text-center">
    <h1 class="display-4">Nature's Dental Care</h1>
    <p class="lead">Muskuraiye Aap Lucknow Mein Hain</p>
  </div>
</div>