<h3 id="services">Services</h3>

<ul>
	<li><a class="" href="#">Root Canal Treatment</a></li>
	<li><a class="" href="#">Extractions</a></li>
	<li><a class="" href="#">Scaling and Polishing</a></li>
	<li><a class="" href="#">Bleaching and Teeth Whitening</a></li>
	<li><a class="" href="#">Complete and Partial Dentures</a></li>
	<li><a class="" href="#">Crown and Bridge Treatment</a></li>
	<li><a class="" href="#">Dental Implants</a></li>
	<li><a class="" href="#">Orthodontic Treatment</a></li>
	<li><a class="" href="#">Maxillofacial Prosthesis</a></li>
	<li><a class="" href="#">Gingival Surgeries</a></li>
	<li><a class="" href="#">Periodontal Surgeries</a></li>
	<li><a class="" href="#">Laser Surgeries</a></li>
	<li><a class="" href="#">Dental Jewelery</a></li>
</ul>